.Bio{
    font-style: italic;
    text-shadow: 2rem;
}
.card-profile{
    background-color: rgba(249, 18, 87, 0.664);
    color: white;
}
.edit-div{
    background-color: lightgray;
}
.sec {
    background-color: white;
    border-radius: 0.4rem;
    padding : 1rem;
}

.name-title{
    text-align: center;
}